.button {
  font-size: 15px;
  padding: 15px;

  &--gray {
    box-shadow: 5px 5px 5px #{$color-dark_gray};
    text-transform: uppercase;
    padding: 5px 25px;
    background-color: $color-light_gray;
  }
}