/*
*  BASE STYLES
*/

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

a {
  color: $color-blue;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}