/*
*   COLORS
*/

$white: #fff;
$black: #000;
$green: #42b983;
$blue: #0594cb;

/* BASE */
$color-primary: $white;
$color-secondary: $black;
$color-tertiary: $green;

/* COLORS */

$color-white: $color-primary;
$color-black: $color-secondary;
$color-green: $color-tertiary;
$color-blue: $blue;