@import "components/color";
@import "components/grid/grid-all";

.header {
  background-color: $color-dark_blue;
  padding: 16px 0;

  &__logo {
    img {
      &:hover {
        box-shadow:  0 9px 32px 0 $color-gray;
      }
    }
  }


  &__mobile {
    #checkbox__toggle {
      display: none;
    }

    @media #{$breakpoint-small} {
      #checkbox__toggle {
        position: absolute;
        visibility: hidden;
        right: 10px;

        &:checked~ul {
          visibility: visible;
          display: block;
          width: 100%;
          max-height: 100vh;
          height: auto;
          transition: all 1s cubic-bezier(0.5, 1, 0.22, 1);
        }

        &:checked~label .header__mobile-icon-line--1 {
          top: 7px;
          width: 32px;
          transform: translateX(-6px) rotate(-45deg) translateY(9px);
        }

        &:checked~label .header__mobile-icon-line--2 {
          opacity: 0;
        }

        &:checked~label .header__mobile-icon-line--3 {
          top: 22px;
          width: 32px;
          transform: translateX(-7px) rotate(45deg) translateY(-11px);
        }
      }
    }

    &-icon {
      position: absolute;
      cursor: pointer;
      display: none;
      right: 57px;

      @media #{$breakpoint-small} {
        display: block;
      }

      &-line {
        @media #{$breakpoint-small} {
          width: 37px;
          height: 2px;
          background-color: $color-black;
          position: absolute;
          transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
        }

        &--1 {
          top: 5px;
        }

        &--2 {
          top: 17px;
        }

        &--3 {
          top: 29px;
        }
      }
    }

    &-navigation {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;

      @media #{$breakpoint-small} {
        background-color: $color-light_gray;
        width: 100%;
        position: absolute;
        top: 63px;
        left: 50%;
        transform: translatex(-50%);
        padding-top: 20px;
        z-index: 1;
        display: none;
      }

      &-list {
        list-style: none;
        padding: 12px 16px;

        @media #{$breakpoint-small} {
          padding: 0;
          text-align: center;
          margin-bottom: 20px;
        }

        a {
          color: $color-black;
          font-size: 20px;
          font-weight: 400;

          &:hover {
            color: $color-light_gray;
            text-decoration: none;
          }
        }
      }
    }
  }
}