@import "components/color";

.learning {
  font-family: 'Verdana', Times, serif;

  &-perk {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin: 50px auto;
  }

  &-features {
    margin-bottom: 100px;

    &__card {
      color: $color-black;
      text-align: center;
      padding: 50px 10px;
      background-color: $color-dark_gray;

      .card-title {
        margin: 20px 0;
      }
    }
  }
}