// @import "components/color";
// @import "components/grid/grid-all";

.learning {
  font-family: 'Verdana', Times, serif;
  padding: 40px 0;

  &__perk {
    text-align: center;
    margin: 50px auto;

    &-title {
      font-size: 40px;
      font-weight: 400;
      line-height: 32px;

      @media #{$breakpoint-small} {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__accordion-wrap {
    margin: 0 auto;
    max-width: 80%;

    @media #{$breakpoint-small} {
      max-width: 95%;
    }
  }

  &__features {
    margin-bottom: 100px;

    &-card {
      color: $color-black;
      text-align: center;
      padding: 50px 10px;
      border: 5px solid $color-dark_blue;
      border-radius: 8px;

      &:hover {
        box-shadow: 0 9px 32px 0 $color-gray;
        border: 5px solid $color-black;

        .button--blue {
          background-color: $color-dark_gray;
          border: 2px solid $color-black;
          color: $color-black;
          text-decoration: none;
        }
      }

      .card-title {
        white-space: nowrap;
        margin: 20px 0;
      }

      @media #{$breakpoint-small} {
        padding: 30px 10px;
        margin-bottom: 20px;

        .card-title {
          font-size: 12px;
        }
      }
    }
  }
}