$class-name: 'footer';

.#{$class-name} {
  background-color: $color-light_gray;


  &__nav {
    a:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__copyright {
    font-weight: 700; 
  } 
}