<header class="header">
  <div class="row">
    <div class="column large-4 small-6">
      <div class="header__logo">
        <a class="header__logo-image" href="#"><img src="/static/images/mobapp_logo.png" alt="logo"></a>
      </div>
    </div>
    <div class="column large-8 small-6">
      <div class="header__mobile">
        <input type="checkbox" id="checkbox__toggle">
        <label for="checkbox__toggle" class="header__mobile-icon">
          <div class="header__mobile-icon-line header__mobile-icon-line--1"></div>
          <div class="header__mobile-icon-line header__mobile-icon-line--2"></div>
          <div class="header__mobile-icon-line header__mobile-icon-line--3"></div>
        </label>
        <ul class="header__mobile-navigation">
          <li class="header__mobile-navigation-list"><a class="active" href="#landing">HOME</a></li>
          <li class="header__mobile-navigation-list"><a href="#features">LEARN</a></li>
          <li class="header__mobile-navigation-list"><a href="#gallery">NEWS</a></li>
          <li class="header__mobile-navigation-list"><a href="#pricing">ABOUT US</a></li>
          <li class="header__mobile-navigation-list"><a href="#contact">CONTACT</a></li>
      </div>
    </div>
  </div>
</header>
