<header class="header">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="header__logo">
        <a class="header__logo-image" href="#"><img src="https://place-hold.it/150x43" alt="logo"></a>
      </div>
    </div>
    <div class="col-lg-8 col-sm-6">
      <div class="header__mobile">
        <input type="checkbox" id="checkbox__toggle">
        <label for="checkbox__toggle" class="header__mobile-icon">
          <div class="header__mobile-icon-line header__mobile-icon-line--1"></div>
          <div class="header__mobile-icon-line header__mobile-icon-line--2"></div>
          <div class="header__mobile-icon-line header__mobile-icon-line--3"></div>
        </label>
        <ul class="header__mobile-navigation">
          <li class="header__mobile-navigation-list"><a href="#">Home</a></li>
          <li class="header__mobile-navigation-list"><a href="#">Learn</a></li>
          <li class="header__mobile-navigation-list"><a href="#">News</a></li>
          <li class="header__mobile-navigation-list"><a href="#">About us</a></li>
          <li class="header__mobile-navigation-list"><a href="#">Contact</a></li>
      </div>
    </div>
  </div>

</header>
