<section class="learning">
  <div class="row">
    <div class="col-sm-12">
      <div class="learning__perk">
        <h2 class="learning__perk-title" data-icon="">Learn something you like</h2>
      </div>
    </div>
  </div>
  <div class="row learning__features">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="learning__features-card">
        <i class="fa fa-html5 fa-5x"></i>
        <p class="card-title">HTML/CSS</p>
        <a href="#" class="button button--blue">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="learning__features-card">
        <i class="fa fa-code fa-5x"></i>
        <p class="card-title">JS</p>
        <a href="#" class="button button--blue">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="learning__features-card">
        <i class="fa fa-television fa-5x"></i>
        <p class="card-title">Responsive web design</p>
        <a href="#" class="button button--blue">More</a>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <div class="learning__perk">
         <h2 class="learning__perk-title">What will you learn</h2>
      </div>
      <div class="learning__accordion-wrap">
        <div class="accordion">
          <input type="checkbox" id="accordion-opener1">
          <label for="accordion-opener1" class="accordion__title">Responsive design</label>
            <div class="accordion__content"><p>Responsive Web design is the approach that suggests that design and development should respond to the user’s behavior and environment based on screen size, platform and orientation.

            The practice consists of a mix of flexible grids and layouts, images and an intelligent use of CSS media queries. As the user switches from their laptop to iPad, the website should automatically switch to accommodate for resolution, image size and scripting abilities.</p>
          </div>
        </div>
        <div class="accordion">
          <input type="checkbox" id="accordion-opener2">
          <label for="accordion-opener2" class="accordion__title">Semantic HTML</label>
          <div class="accordion__content">
            <p>“Semantic HTML” refers to the idea that all your HTML markup should convey the underlying meaning of your content—not its appearance. We’ve already been writing semantic HTML (e.g., using ), but there’s a whole set of elements designed for the sole purpose of adding more meaning to the overall layout of a web page. They’re called “sectioning elements”, and they look something like this:</p></div>
        </div>
        <div class="accordion">
          <input type="checkbox" id="accordion-opener3">
          <label for="accordion-opener3" class="accordion__title">CSS & SCSS</label>
          <div class="accordion__content">
            <p>CSS is a language that describes the style of an HTML document.CSS describes how HTML elements should be displayed.This tutorial will teach you CSS from basic to advanced.</p>
          </div>
        </div>
        <div class="accordion">
          <input type="checkbox" id="accordion-opener4">
          <label for="accordion-opener4" class="accordion__title">Responsive design</label>
          <div class="accordion__content"><p>Responsive Web design is the approach that suggests that design and development should respond to the user’s behavior and environment based on screen size, platform and orientation.

            The practice consists of a mix of flexible grids and layouts, images and an intelligent use of CSS media queries. As the user switches from their laptop to iPad, the website should automatically switch to accommodate for resolution, image size and scripting abilities.</p></div>
        </div>
        <div class="accordion">
          <input type="checkbox" id="accordion-opener5">
          <label for="accordion-opener5" class="accordion__title">Responsive design</label>
          <div class="accordion__content"><p>Responsive Web design is the approach that suggests that design and development should respond to the user’s behavior and environment based on screen size, platform and orientation.

            The practice consists of a mix of flexible grids and layouts, images and an intelligent use of CSS media queries. As the user switches from their laptop to iPad, the website should automatically switch to accommodate for resolution, image size and scripting abilities.</p></div>
        </div>

      </div>
    </div>
  </div>
</section>