<section class="learning">
  <div class="row">
    <div class="col-sm-12">
      <div class="learning__perk">
        <h2 class="learning__perk-title" data-icon="">Learn something you like</h2>
      </div>
    </div>
  </div>
  <div class="row learning__features">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="learning__features-card">
        <i class="fa fa-html5 fa-5x"></i>
        <p class="card-title">HTML/CSS</p>
        <a href="#" class="button button--blue">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="learning__features-card">
        <i class="fa fa-code fa-5x"></i>
        <p class="card-title">JS</p>
        <a href="#" class="button button--blue">More</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="learning__features-card">
        <i class="fa fa-television fa-5x"></i>
        <p class="card-title">Responsive web design</p>
        <a href="#" class="button button--blue">More</a>
      </div>
    </div>
  </div>
</section>