//@import "fonts";
.landing {
  background: linear-gradient(to bottom, $color-dark_blue 0%, $color-light_gray 100%);
  padding: 100px 0;

  &__info {
    text-align: center;
    padding: 80px 0;

    &-title {
      font-size: 70px;
      color: $color-black;
      margin-bottom: 20px;
      font-weight: 400;
      font-family: $font-normal;

      @media #{$breakpoint-small} {
        font-size: 65px;
      }
    }

    &-description {
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;

      @media #{$breakpoint-small} {
        font-size: 20px;
      }
    }
  }
}