.landing {
  background: linear-gradient(to bottom, $color-light_gray 0%, $color-white 100%);

  &__info {
    text-align: center;
    padding: 80px 0;

    &-title {
      font-size: 70px;
      font-weight: 300;
      color: $color-black;
      margin-bottom: 20px;
    }

    &-description {
      color: $color-green;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}