.accordion {
  display: inline-block;
  max-height: 50px;
  margin: 10px 0 15px;
  position: relative;
  border-radius: 5px;
  border: 2px solid $color-green;
  font-size: 17px;
  width: 100%;

  @media #{$breakpoint-small} {
    height: 34px;
    font-size: 12px;
  }

  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  & > input:checked ~ .accordion__content {
    display: block;
    height: auto;
    overflow-wrap: break-word;

    & + .accordion {
      margin-top: 20px;
    }
  }

  & > input:checked + .accordion__title {
    &::after {
      transform: rotate(90deg);
    }
  }

  &__title {
    position: relative;
    width: 98%;
    padding: 10px 0;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;

    @media #{$breakpoint-small} {
      width: 95%;
      padding: 7px;
    }

      &::after {
      transition: transform 0.2s ease-out;
      content: "\276F";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -5px;
      width: 20px;
      height: 20px;

      @media #{$breakpoint-small} {
        right: 0;
        width: 10px;
        height: 10px;
      }
    }
  }

  &__content {
    display: none;
    padding: 10px;
    height: 0;
    transition: max-height .5s ease-in;

    @media #{$breakpoint-small} {
      padding: 9px;
    }
  }
}